.input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid hsl(var(--input));
  border-radius: var(--radius);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: hsl(var(--primary));
  outline: none;
}

.input:focus {
  box-shadow: var(--focus-shadow);
}

.input::placeholder {
  color: hsl(var(--dark-gray));
}
